@font-face {
    font-family: BebasNeue-Regular;
    src: url('./BebasNeue-Regular.otf');
}

@font-face {
    font-family: Inconsolata;
    src: url('./Inconsolata.otf');
}

.font-header {
    font-family: BebasNeue-Regular, Arial;
}

.font-default {
    font-family: Inconsolata, Arial, Helvetica, sans-serif;
}