@font-face {
    font-family: BebasNeue-Regular;
    src: url('./BebasNeue-Regular.otf');
}

@font-face {
    font-family: Sk-Modernist-Regular;
    src: url('./Sk-Modernist-Regular.otf');
}

.font-header {
    font-family: BebasNeue-Regular, Arial;
}

.font-default {
    font-family: Sk-Modernist-Regular, Arial, Helvetica, sans-serif;
}