@tailwind preflight;
@tailwind utilities;
/* Your custom CSS here */

.h-6-2px {
    height: 1.4rem;
}

@media (min-width: 320px) {
    .xs\:h-middle {
        height: calc(100vh - 1.5rem);
    }

    .xs\:shrinkHeight {
        animation-name: xsShrinkHeight;
        animation-duration:  0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    .xs\:growHeight {
        animation-name: xsGrowHeight;
        animation-duration:  0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
}

@media (min-width: 992px) {
    .lg\:h-6-2px {
        height: 1.4rem !important;
    }

    .lg\:h-middle {
        height: calc(100vh - 3rem);
    }

    .lg\:shrinkHeight {
        animation-name: lgShrinkHeight;
        animation-duration:  0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    .lg\:growHeight {
        animation-name: lgGrowHeight;
        animation-duration:  0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
}



@keyframes lgShrinkHeight {
    0% {
        height: calc(100vh - 3rem);
    }

    100% {
        height: 16rem;
    }
}

@keyframes lgGrowHeight {
    0% {
        height: 16rem;
    }

    100% {
        height: calc(100vh - 3rem);
    }
}

@keyframes xsShrinkHeight {
    0% {
        height: calc(100vh - 1.5rem);
    }

    100% {
        height: 12rem;
    }
}

@keyframes xsGrowHeight {
    0% {
        height: 12rem;
    }

    100% {
        height: calc(100vh - 1.5rem);
    }
}

.flex-2 {
    flex-grow: 2;
    flex-basis: 0%;
    flex-shrink: 1;
}

.flex-3 {
    flex-grow: 3;
    flex-basis: 0%;
    flex-shrink: 1;
}
.flex-4 {
    flex-grow: 4;
    flex-basis: 0%;
    flex-shrink: 1;
}
.flex-5 {
    flex-grow: 5;
    flex-basis: 0%;
    flex-shrink: 1;
}

.bgAnimDown {
    animation-name: slide-down;
    animation-duration:  1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.bgAnimUp {
    animation-name: slide-up;
    animation-duration:  1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes slide-up {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}

.bgAnimDownLast {
    animation-name: slide-down-last;
    animation-duration:  1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes slide-down-last {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(-100%);
    }
}
.bgAnimDownFirst {
    animation-name: slide-down-first;
    animation-duration:  1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes slide-down-first {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }
}

.bgAnimUpLast {
    animation-name: slide-up-last;
    animation-duration:  1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes slide-up-last {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(-200%);
    }
}
.bgAnimUpFirst {
    animation-name: slide-up-first;
    animation-duration:  1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes slide-up-first {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.fadeOutIn {
    animation-name: fade;
    animation-duration:  1s;
    animation-timing-function: ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration:  0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration:  0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.MenuList {
    transition: font-size 0.5s;
}

.hoverBar {
    transition: width 1s;
}

.w-0 {
    width: 0%;
}

.h-0 {
    height: 0%;
}

.noStyleLink {
    text-decoration: none;
    color: inherit;
}
.noStyleLink:focus, .noStyleLink:hover, .noStyleLink:visited, .noStyleLink:link, .noStyleLink:active {
    text-decoration: none;
}